<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div style="border:3px solid black; margin-left: 25px; padding-left: 16px;">
        <br>
        <h1>Welcome</h1>


        <h2> Check the Mover's availability for the week, month or the whole year.</h2>
        <h3> Tip! : Click the plus (+) icon on the bottom-right of calender to add the Mover's calender to your personal calender.</h3>
        <br>
        <br> 
        <iframe src="https://calendar.google.com/calendar/embed?src=singhmoverpackers%40gmail.com&ctz=Australia%2FSydney" style="border: 0" width="1070" height="600" frameborder="0" scrolling="no"></iframe>
        <br> <br>
        <br> <br>
    </div>
</div>