
<div class="image-grid">
  <img class="image-grid-col-2 image-grid-row-2" src="assets/images/truck-5.JPG" alt="left">
  <img src="assets/images/truck-1.jpeg" alt="first">
  <img src="assets/images/truck-3.JPG" alt="second">
  <img src="assets/images/truck-6.JPG" alt="third">
  <img src="assets/images/truck-2.jpg" alt="fourth">
  <img src="assets/images/truck-7.JPG">
    <img src="assets/images/customers.jpg">
    <img class="image-grid-col-2 image-grid-row-1"  src="assets/images/truck-4.JPG" >
</div>



