

<body style= "background-color:rgb(196, 169, 184);" class="container">
    <main class="tm-container masonry">
        <div class="item tm-bg-white tm-block tm-block-left" data-desktop-seq-no="1" data-mobile-seq-no="1">
            <p class="tm-hero-text">&ldquo;Specializing in local operations for the past 5 years, Singh Movers & Packers has moved
               over 300 customers in Australia and is a leading provider of residential moving services in Sydney, Melbourne and
               Brisbane. With a broad national network and a high-quality moving team, Singh Movers & Packers focuses on local
                knowledge and meticulous planning — key factors that always guarantee a flawless move.&rdquo;</p>
            <header class="tm-block-brand">
                <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                    <i class="fas fa-braille fa-3x"></i>
                    <h1 class="tm-brand-name">INTERSTATE</h1>
                </div>
            </header>
        </div>
        <div class="item" data-desktop-seq-no="2" data-mobile-seq-no="4">
            <img src="assets/images/interstate2.jpeg" alt="Image" class="tm-img-another">
        </div>
        <div class="item tm-bg-secondary tm-text-white tm-block tm-block-wider tm-block-pad tm-block-left-2" data-desktop-seq-no="3"
            data-mobile-seq-no="5">
            <i class="fas fa-award fa-4x tm-block-icon"></i>
            <h2 style="font-size:xx-large;">COMMERCIAL REMOVAL</h2>
            <p>We know downtime means lost income so guaranteeing that your business runs smoothly while relocating is top priority for Singh Movers and Packers. With our detailed logistics, team of commercial movers, specialized services and unmatched packing expertise — Singh Movers and Packers always plans, executes and delivers your commercial moving with perfection.</p>

        </div>
        <div class="item" data-desktop-seq-no="4" data-mobile-seq-no="8">
            <img src="assets/images/packaging.jpg" alt="Image" class="tm-img-left">
        </div>
        <div class="tm-footer" id="tmFooter" data-desktop-seq-no="5" data-mobile-seq-no="9">
          <header class="tm-block-brand">
            <div class="tm-bg-primary-dark tm-text-white tm-block-brand-inner">
                <i class="fas fa-braille fa-3x"></i>
                <h1 class="tm-brand-name">LOCAL REMOVAL</h1>
            </div>
        </header>
        </div>
        <div class="item" data-desktop-seq-no="6" data-mobile-seq-no="2">
            <img src="assets/images/background-image.jpg" alt="Image" class = "tm-img-right">
        </div>
        <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
            <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">


                <p class="tm-mt tm-mb-small">At Singh Movers & Packers we take long distance moving seriously. From the initial
                  sales consultation to arriving safely at your new home, our team of moving experts provide detailed planning
                  for every step of the moving process so your transition is as smooth as it can be.
                </p>

                <div class="mt-4">
                  <a href="javascript:" class="btn  button5" (click)="scrollTo('quote')">Get Quote</a>
                </div>

                <!-- -->
            </div>
        </div>

        <div class="item" data-desktop-seq-no="8" data-mobile-seq-no="6">
            <img src="assets/images/commercial.png" alt="Image" class="tm-img-left">
        </div>

        <div class="item tm-block-right" data-desktop-seq-no="7" data-mobile-seq-no="3">
          <div class="tm-block-right-inner tm-bg-primary-light tm-text-white tm-block tm-block-wider tm-block-pad">

            <h2 style="font-size:xx-large;">PACKAGING SUPPLIES</h2>
              <p class="tm-mt tm-mb-small">Singh Movers and Packers uses only the best packing materials, high quality blankets, boxes & tape. We pre-plan every packing job, and bring specialized materials.
                We use specific procedures for each item – lamps go in special boxes, mattresses are inserted in special bags, and flat screen TVs have special packing procedures. We also use heavy duty boxes for longer cross country or international moves. Call us to get the same professional materials we use.
              </p>
              <!-- -->
          </div>
      </div>




    </main>
  </body>


