<h1 mat-dialog-title>Sign In</h1>
<div mat-dialog-content>
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-14 col-md-14 col-sm-offset-1 col-md-offset-2">
              <div class="form-group" class="column col-md-6" style="float:left;">
                <label for="email" style="color:darkslateblue">Email</label>
                <input
                  formControlName="email"
                  type="email"
                  id="email"
                  class="form-control" required="required" data-error="email is required.">
                    <div *ngIf="f?.email?.touched && f?.email?.invalid" class="alert alert-danger">
                        <div *ngIf="f?.email?.errors.required">email is required.</div>
                        <div *ngIf="f?.email?.errors.email">email is not formatted.</div>
                    </div>
              </div>
              <div class="column col-md-6" style="float:left;">
                <div class="form-group">
                  <label for="password" style="color:darkslateblue">Password</label>
                  <input
                    formControlName="password"
                    type="text"
                    id="password"
                    class="form-control" required="required" data-error="Password is required.">
                    <div *ngIf="f?.password?.touched && f?.password?.invalid" class="alert alert-danger">
                        <div *ngIf="f?.password?.errors.required">password is required.</div>
                    </div>
                </div>
              </div>
      
            </div>
        
      
          </div>
        </div>
          <button class="btn btn-primary" type="submit"  style="float:centre; size:30px">Login</button>
      </form>
      
</div>