<div style= "background-color:rgb(206, 186, 132);" class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp" style=" font-size:xxx-large;">Testimonials</h2>

  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <p>An extremely happy customer. These two men helped my sister and her partner move homes and they made the task at hand extremely easy couldn’t have done it without them. Would definitely recommend Singh Movers and Packers. Thank yous once again.</p>
      </blockquote>
      <h3>Lewis the creator</h3>
      <h4>Google Reviews</h4>
    </figcaption>
  </figure>
  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <p>Singh Movers were absolutely amazing, stuck to their words, great with our furniture, dedicated hard working and honest I recommend Singh movers for your next move</p>
      </blockquote>
      <h3>Carlos Cespedes</h3>
      <h4>Facebook</h4>
    </figcaption>
  </figure>
  <figure class="snip1533">
    <figcaption>
      <blockquote>
        <p>Great movers. Another mover had bailed on me last minute, and these guys really saved the day. I called them on the day and they were able to squeeze me in only a few hours later. Very honest and hard working people, they did the move at normal rates (some movers charge penalty rates on last minute callouts) and within reasonable time frame. Even when they were tired after working at another and our job, they kept going and didn't complain. Would recommend to everyone, as we will definitely be using Singh Movers and Packers in the future.
        </p>
      </blockquote>
      <h3>Saad Ali</h3>
      <h4>Google Reviews</h4>
    </figcaption>
  </figure>
  <br>
  <br>

  <!-- <h2 class="section-title wow fadeInUp">FAQ's</h2> -->




