<style>
  .text-animation {
    border-right: solid 5px rgba(255,255,255,.90);
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    color: rgba(0,0,0,1);
  }
  .text-animation{
    animation: animated-text 4s linear 1s 1 normal both,
               animated-cursor 600ms linear infinite;
  }
  @keyframes animated-text{
    from{width: 0%;}
    to{width: 50%;}
  }
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,0,0,.75);}
    to{border-right-color: transparent;}
  }
  .text-animation1 {
    border-right: solid 5px rgba(255,255,255,.90);
    white-space: nowrap;
    overflow: hidden;
    font-size: 26px;
    color: rgba(0,0,0,1);
  }
  .text-animation1{
    animation: animated-text1 4s linear 1s 1 normal both,
               animated-cursor1 600ms linear infinite;
  }

  ._fea_txt_3rd{
    font-size: 17px;
    text-align: left;
  }

  h4{
    color: rgb(74, 22, 87);
    font-size:x-large;
  }
  @keyframes animated-text1{
    from{width: 0%;}
    to{width: 240px;}
  }
  @keyframes animated-cursor1{
    from{border-right-color: rgba(0,0,0,.75);}
    to{border-right-color: transparent;}
  }
</style>

<div style= "background-color:rgb(206, 186, 132);" class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">About Us</h2>

  <div class="spacer-60"></div>

  <div class="row">

    <div class="col-md-3">
      <img src="assets/images/landing/truck-small.png" alt="truck-small">
    </div>

    <div class="col-md-9 triangle-left-md triangle-top-sm">
      <div class="rounded bg-white shadow-dark padding-30">
        <div class="row">
          <div class="col-md-6">
            <!-- about text -->
            <p  style="text-align: justify; font-size: large;">When Singh Movers & Packers was founded in 2017, we strived to change the way people move. In the process, we wanted to innovate the moving industry. We established the all-included flat rate pricing model in Sydney and shifted the way people relocated locally and nationwide. With 20+ agents stationed nationally in Sydney and major cities in Australia, Singh Movers & Packers is now a leading name in the business with a 5% moving claim rate — beating the industry’s average of over 20 years.</p>
            <div class="spacer-30 d-md-none d-lg-none"></div>
          </div>
          <div class="col-md-6">
            <h5 class="elementor-heading-title elementor-size-default" style="text-align: justify; font-size:large;">Best-in-class Service and Technology</h5>
            <p style="text-align: justify; font-size:large;">Singh Movers & Packers first-class service and sophisticated technology are unsurpassed in the moving industry, enabling the company to deliver a superior level of quality to our customers. Here’s how we do it:</p>
            <li class="h3-accent" style="text-align: justify; font-size:large;">Upfront Estimates &amp; Free Quoting</li>
            <li class="h3-accent" style="text-align: justify; font-size:large;">Dispatch &amp; Fleet Management</li>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- row end -->

<div class="spacer-70"></div>

      <!-- <div class="fact-item">
        <span class="icon icon-people"></span>
        <div class="details">
          <h3 class="mb-0 mt-0 number"><em class="count">42</em></h3>
          <p class="mb-0">Satisfied clients</p>
          <span class="mb-0">Till date</span>
        </div>
      </div> -->
<div class="spacer-30 d-md-none d-lg-none"></div>


    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 no-padding" style="background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('assets/01.jpg');">
        <div class="_any_tm_lft">
          <div class="_any_tm_lft_txt">
            <h2 style="text-transform: uppercase;margin-left:10%;margin-top: 23%; text-align: justify; font-size:x-large;" >
              Move any where
              <span style="color: rgb(14, 97, 89); text-align: justify; font-size:x-large;">any time </span>
            </h2>
            <p style="width: 83%;margin-left:9%; text-align: justify; font-size:large;">
                With Singh Movers and Packers by your side, you can easily relocate to anywhere and at anytime without any issues.
            </p>
            <p style="width: 83%;margin-left:9%; text-align: justify; font-size:large;">
                Just book the truck that you want to relocate your chattels, get your belongings packed by the packers and movers of your choice and you are all set to relocate.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 no-padding" style="background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8))">
        <div class="_any_tm_rft">
          <div class="_any_tm_rft_txt">
            <h2 style="text-transform: uppercase;margin-left:20%;margin-top:1%" class="text-animation1">Why Choose <span style="color: rgb(14, 97, 89);">Us ?</span></h2>
            <br>
              <ul class="_choose_list" style="list-style-type:none;">
              <li>
                <div class="_w_icon wow slideInRight  animated" style="visibility: visible; animation-name: slideInRight;margin-left: -13%;margin-top: 41px;"></div>
                <h4 style="margin-top: -11%; margin-left:23px; text-align: justify; font-size:large;">Variety of Transport Vehicles</h4>
                <div class="_d_txt" style="margin-left:23px; text-align: justify; font-size:large;">You can easily choose the type of truck that will be best suited for the transportation of your chattels as per their quantity. </div>
              </li>
              <li>
                <div class="_w_icon wow slideInRight  animated" style="visibility: visible;animation-name: slideInRight;margin-left: -13%;margin-top: 88px;"></div>
                <h4 style="margin-top: -10%; margin-left:23px; text-align: justify; font-size:large;">Budget-Friendly Transportation</h4>
                <div class="_d_txt" style="margin-left:23px; text-align: justify; font-size:large;">To transport your goods, you can select a transport provider that not only has good reviews but also is also budget-friendly.</div>
              </li>
              <li>
                <div class="_w_icon wow slideInRight  animated" style="visibility: visible; animation-name: slideInRight;margin-left: -13%;margin-top: 88px;"></div>
                <h4 style="margin-top: -10%; margin-left:23px; text-align: justify; font-size:large;">Guaranteed Security</h4>
                <div class="_d_txt" style="margin-left:23px; text-align: justify; font-size:large;">All the transportation and packers &amp; movers on our website are highly reliable and ensure complete security of your chattels.</div>
              </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="_fea_txt_bx"  style="background: linear-gradient((rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('assets/feature_bg.png'));color: white;">
        <h2 style="text-align: center;margin-top: 40px; font-size:xx-large;">Our Features</h2>
        <p style="text-align: center;margin-top: 20px; font-size:large; ">With Singh Movers & Packers, you get an array of features that are impossible to fund anywhere else.<br> Let's have a look at some of the unmatched features that we offer- </p>
        <div class="cleafixed"></div>
          <table>
            <tr>
              <td>
              <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="_fea_txt_3rd" style="width: 500%;margin-top: 50%; padding-bottom: 40px;">
                <div class="f_icon"><img src="assets/f_icon01.png" alt="" class="wow zoomIn  animated" style="visibility: visible;"></div>
                  <h4>100% Safe Delivery</h4>
                  <p>Get your belongings packed and transported in a totally secure manner with us.</p>
              </div>
            </div>
            </td>
            <td>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="_fea_txt_3rd" style="width: 500%;margin-top: 50%;padding-bottom: 40px;">
                <div class="f_icon"><img src="assets/f_icon02.png" alt="" class="wow zoomIn  animated" style="visibility: visible;"></div>
                  <h4>Weather Insuarance</h4>
                  <p>We give complete insurance to all your belongings against the weather conditions.</p>
              </div>
            </div>
            </td>
            <td>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="_fea_txt_3rd" style="width: 500%;margin-top: 50%;padding-bottom: 40px;">
                <div class="f_icon"><img src="assets/f_icon03.png" alt="" class="wow zoomIn  animated" style="visibility: visible;"></div>
                  <h4>Fast &amp; On Time</h4>
                  <p>Fast and doorstep delivery of all your belongings, in the least possible time.</p>
              </div>
            </div>
          </td>
          <td>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="_fea_txt_3rd" style="width: 500%;margin-top: 50%;padding-bottom: 40px;">
                <div class="f_icon"><img src="assets/f_icon04.png" alt="" class="wow zoomIn  animated" style="visibility: visible;"></div>
                  <h4>Support For Your Vehicles</h4>
                  <p>Complete support to both 2-wheeler and 4-wheeler vehicles while their relocation.</p>
              </div>
            </div>
            </td>
            </tr>
          </table>
      </div>

    </div>


</div>


