h1{
  color:darkblue;
  font-size: 40px;
  font-style: bold;
}

.container{
  margin-top: 25px;
  margin-bottom: 25px;
}

label{
  font-size: 22px;
}

.radio{
  size : 150%
}

// button {font-size: 26px;background-color: rgb(105, 49, 179);color:white}
button:hover {
  background-color: #1e3480;
  color: white;
}

p{
  font-size: 30px;
}

.display{
  font-size: 20px;
}

