<div class="container">
  <h1>Online Quote:</h1>
  <form [formGroup]="quoteForm" (ngSubmit)="submit()">


    <!-- New Row for the personal details  -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="firstName" style="color:rgb(33, 16, 143)">First Name</label>
            <input
              formControlName="firstName"
              type="text"
              id="firstName"
              class="form-control"  required="required" data-error="First Name is required.">
            <div *ngIf="f?.firstName?.touched && f?.firstName?.invalid" class="alert alert-danger">
              <div *ngIf="f?.firstName?.errors.required">firstName is required.</div>
            </div>
          </div>
        </div>
        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="lastName" style="color:darkslateblue">Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              id="lastName"
              class="form-control" required="required" data-error="Last Name is required.">
            <div *ngIf="f?.lastName?.touched && f?.lastName?.invalid" class="alert alert-danger">
              <div *ngIf="f?.lastName?.errors.required">lastName is required.</div>
            </div>
          </div>
        </div>
        <div class="form-group" class="column col-md-6" style="float:left;">
          <label for="email" style="color:darkslateblue">Email</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control" required="required" data-error="email is required.">
            <div *ngIf="f?.email?.touched && f?.email?.invalid" class="alert alert-danger">
              <div *ngIf="f?.email?.errors.required">email is required.</div>
              <div *ngIf="f?.email?.errors.email">email is not formatted.</div>
          </div>
        </div>
        <div class="form-group" class="column col-md-6" style="float:left;">
          <label for="phone">Phone no</label>
          <input
            formControlName="phone"
            type="tel"
            id="phone" name="phone"
            class="form-control">
          <div *ngIf="f?.phone?.touched && f?.phone?.invalid" class="alert alert-danger">
              <div *ngIf="f.phone.errors.required">phone is required.</div>
          </div>
        </div>
      </div>
    </div>
    <br/>

    <!-- New Row for the enquiry type  -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="radioList" class="form-group"  style="float:left;">
          <p style= "font-size: 22px">  What is the nature of your enquiry?    </p>
          <div style="font-size:20px">
            <input type="radio" name="test" value="value1"> Local resident removal <br>
            <input type="radio" name="test" value="value2"> Inter-city removal <br>
            <input type="radio" name="test" value="value3"> Inter-state removal
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="column col-md-6" class="form-group" style="float:left;" >
          <p>What is the size of the move?</p>
          <select>
            <option value="">Please select the option</option>
            <option *ngFor="let size of sizes" [value]="size">{{ size }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- New row for origin -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2 style= "font-size: 22px">Origin:</h2>
        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="address">Street Address</label>
            <input formControlName= "address" type="text" id="address" required class="form-control">
          </div>
        </div>
  
        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="suburb">Suburb</label>
            <input formControlName= "suburb" type="text" id="Suburb" required class="form-control" >
          </div>
        </div>

        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="post">Post Code</label>
            <input formControlName= "post" type="text" id="Post" required class="form-control" >
          </div>
        </div>

        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="date">Estimate Date</label>
            <input formControlName= "date"  type="date" id="date" required class="form-control" >
          </div>
        </div>
      </div>
    </div>

    <!-- New row for origin -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2 style= "font-size: 25px">Destination:</h2>
        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="destAddress">Street Address</label>
            <input formControlName= "destAddress"  type="text" id="destAddress" required class="form-control" >
          </div>
        </div>

        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="destSuburb">Suburb</label>
            <input formControlName= "destSuburb" type="text" id="destSuburb" required class="form-control" >
          </div>
        </div>

        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="destPost">Post Code</label>
            <input formControlName= "destSuburb" type="text" id="destPost" required class="form-control" >
          </div>
        </div>
        <div class="column col-md-6" style="float:left;">
          <div class="form-group">
            <label for="destCity">City/State</label>
            <input formControlName= "destCity" type="text" id="destCity" required class="form-control" >
          </div>
        </div>
      </div>
    </div>




    <button class="btn btn-info" type="button" style="float:centre; size:30px" (click)="setValue()">Set Default Value</button>
    
    <button class="btn btn-primary" type="submit" style="float:centre; size:30px">Submit</button>
    <button class="btn btn-danger" type="reset"  style="float:right">Reset</button>
    
</form>
<br><br><br> <br><br><br>
</div>

<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <div style="border:3px solid black; margin-left: 25px; padding-left: 16px;"><br><br>
    <h1>Quick Quote Calculator:</h1> <br><br>
     <p class="display">Please enter the number of hours required to do the job:
      <input (keyup)="onCost($event)" type="number"> 
     </p> 
      <br><br><br>
  
    <p> Estimated cost : {{costHour}}</p>
    <br><br>
  </div>  
</div>
<br><br><br> <br><br><br>
  

